@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-great-vibes: 'Great Vibes', cursive;
}

body {
  font-family: var(--font-playfair);
}
